NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCYnfgCd3wvNOqivN7tEKB4oMrxhUUgKNc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nimeche-oau.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nimeche-oau
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nimeche-oau.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=442156705189
NEXT_PUBLIC_FIREBASE_APP_ID=1:442156705189:web:6b4f571036a6dca143344c
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-L0NZZP730J
CLOUDINARY_CLOUD_NAME=h7yxeeqk
CLOUDINARY_API_KEY=552674894174143
CLOUDINARY_API_SECRET=YTBw3SzpYdCbhlQOjC3x1-B2sQQ
CLOUDINARY_API_ENVIRONMENT_VARIABLE=CLOUDINARY_URL=cloudinary://552674894174143:**********@h7yxeeqk
NEXT_PUBLIC_SITE_URL=